version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: student_portal_db
#     environment:
#       POSTGRES_DB: student_portal
#       POSTGRES_USER: postgres
#       POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - student_portal_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: student_portal_app
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/student_portal
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - student_portal_network

volumes:
  postgres_data:

networks:
  student_portal_network:
    driver: bridge
